# =====================
# Build results
# =====================
bin/
obj/

# =====================
# .NET artifacts
# =====================
*.dll
*.exe
*.pdb
*.cache
*.deps.json
*.runtimeconfig.json

# =====================
# Visual Studio
# =====================
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# =====================
# Rider / VS Code
# =====================
.idea/
.vscode/

# =====================
# OS files
# =====================
Thumbs.db
.DS_Store
